body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}
 header {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
 }

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-derecha-section{
    width: 300px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header nav .nav-derecha-section li a{
    margin-right: 16px;
    color: black;
}

header nav .nav-derecha-section .Icono-del-menu a i{
    font-size:  16px;
}

header nav .nav-derecha-section li:nth-child(4) input {
    background-color: #2b7de9;
    color: #fff;
    height: 36px;
    width: 114px;
    border: none;
    border-radius: 4px;
}

header nav .nav-derecha-section li:nth-child(4) input:hover{
    cursor: pointer;
    background-color: #297ff6;
}

main {
    margin-top: 120px;
    text-align: center;   
}

main .logo-main {
    width: 560px;
    margin: 0 auto;
    margin-bottom: 32px;
}

main .logo-main img {
    width: 272px;
    height: auto;
}

main .input-main {
    width: 560px;
    margin: 0 auto;
    margin-bottom: 32px;
}

main .input-main .input-main-contenedor {
    width: 560px;
    border: solid 1px #d0d0d7;
    border-radius: 100px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .input-main .input-main-contenedor:hover {
    box-shadow: 0 1px 6px 0 #d0d0d7;
}

main .input-main .input-main-contenedor .search-icono {
    width: 20px;
    margin-left: 12px;
    color: #c1c1c1;
}

main .input-main .input-main-contenedor input {
    width: 480px;
    height: 40px;
    border: none;
    outline: none;
    margin-left: 12px;
    font-size: 16px;
}

main .botones-main {
    width: 560px;
    margin: 0 auto;
}

main .botones-main div {
    display: inline-block;
}

main .botones-main div button {
    height: 36px;
    background-color: #f6f6f6;
    border: none;
    border-radius: 4px;
    padding: 0px 16px;
    margin: 0px 4px;
}

main .botones-main div button:hover {
    border: solid 1px #c1c1c1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    background-color: #f8f8f8;
}

main .region-main {
    margin-top: 28px;
}

footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f6f6f6;
    border-top: 1px solid #c1c1c1;
}

footer ul {
    display: flex;
    list-style: none;
    margin: 12px;
    padding-left: 0;
}

footer .footer-izquierda {
    justify-self: left;
    margin-left: 36px;
}

footer .footer-derecha {
    justify-self: right;
    margin-left: 36px;
}

footer ul li a {
    margin: 12px;
    color: #7f7f7f;
}